:root {
    --dark-blue-green: #192227;
    --orange: #f9a600;
    --white: #fdfcfc;
    --text-dark-gray: #555;
    --light-background: #f8f2e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--dark-blue-green);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--light-background);
    border: 1px solid var(--text-dark-gray);
    width: 90%;
    max-width: 900px;
    padding: 30px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--text-dark-gray);
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
    animation: fadeIn 0.5s ease-in-out forwards 0.3s;
}

.logo-name {
    display: flex; 
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards 0.3s;
}

.bank-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue-green);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards 0.5s;
}

.form-title {
    font-size: 24px;
    color: var(--dark-blue-green);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards 0.7s;
}

.check-details {
    display: flex; 
    flex-direction: column;
    text-align: right;
    font-size: 14px;
    color: var(--text-dark-gray);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards 1s;
}

.check-no, .check-date {
    display: flex; 
}

.login-section {
    display: flex; 
    margin-top: 20px;
}

.login-details {
    display: flex; 
    flex-direction: column;
    width: 120px;
    animation: slideIn 0.5s ease-in-out forwards 1.3s;
    opacity: 0;
}

.login-details h2 {
    font-size: 18px;
    color: var(--dark-blue-green);
    margin-top: 10px;
    margin-bottom: 25px;
}

.form-group h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.login-details h3 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 18px;
}

form {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    animation: slideIn 0.5s ease-in-out forwards 1.6s;
    opacity: 0;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--text-dark-gray);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--dark-blue-green);
}

input::placeholder {
    color: var(--text-dark-gray);
}

button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards 1.9s;

}

button:hover {
    background-color: #e09500;
}

.switch {
    display: flex; 
    justify-content: center;
    margin-top: 16px;
    color: var(--dark-blue-green);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards 2.2s;
}

.switch a {
    color: var(--orange);
    text-decoration: none;
    margin-left: 5px;
}

.switch a:hover {
    text-decoration: underline;
}

.mobile-form {
    display: none;
    flex-direction: column;
    gap: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 600px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .login-section {
        display: none;
    }

    .mobile-form {
        display: flex;
    }

    .form-group {
        margin-bottom: 15px;
        color: var(--dark-blue-green);
    }

    .bank-name {
        font-size: 20px;
    }

    .logo {
        height: 40px;
    }

    .form-title {
        font-size: 20px;
        margin: 10px 0;
    }
}

@media (max-width: 444px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }
    .check-details {
        align-items: center;
    }
}
