@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/* Navbar Style */
.navbar {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: #f9a600;
    color: white;
    z-index: 900;
    padding-left: 85px; 
}
.navbar-title {
    display: flex;
    text-align: left;
}

.navbar-title h1 {
    font-size: 24px;
    margin-left: 20px; 
    text-align: center;
}

.navbar a {
    font-size: 24px;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
    padding-right: 10px;
}



/* Side Bar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #fff;
    color: #192227; 
    padding: 25px 20px;
    transition: all 0.4s ease;
}

.sidebar:hover {
width: 280px;
}


.sidebar .sidebar-header {
    display: flex;
    align-items: center;
  }
  .sidebar .sidebar-header img {
    width: 42px;
    border-radius: 50%;
  }
  .sidebar .sidebar-header h2 {
    color: #161a2d;
    font-size: 0.5 rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
  }
  .sidebar-links h4 {
    color: #192227; /* Change to black */
    font-weight: 500;
}
  .sidebar-links h4 span {
    opacity: 0;
  }
  .sidebar:hover .sidebar-links h4 span {
    opacity: 1;
  }
  .sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #f9a600;
    transform-origin: right;
    transition-delay: 0.2s;
  }
  .sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
  }
  .sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .sidebar-links::-webkit-scrollbar {
    display: none;
  }
  .sidebar-links li a {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #192227; 
    font-weight: 500;
    white-space: nowrap;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.2s ease;
}
.sidebar-links li a:hover {
    background: #f9a600; 
    color: #fff;
    border-radius: 4px;
}
  .user-account {
    margin-top: auto;
    padding: 12px 10px;
    margin-left: -10px;
  }
  .user-profile {
    display: flex;
    align-items: center;
    color: #161a2d;
  }
  .user-profile img {
    width: 50px;
    border-radius: 60%;
    border: 2px solid #fff;
  }
  .user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  .user-profile h3, .user-profile span {
    color: #192227;
}
  .user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
  }
  .user-detail {
    margin-left: 23px;
    white-space: nowrap;
  }
  .sidebar:hover .user-account {
    background: #fff;
    border-radius: 4px;
  }
  
.sidebar-links h4 {
    color: #161a2d;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
  }
  .sidebar-links h4 span {
    opacity: 0;
  }
  .sidebar:hover .sidebar-links h4 span {
    opacity: 1;
  }
  .sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #ad7400;
    transform-origin: right;
    transition-delay: 0.2s;
  }
  .sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
  }
  .sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .sidebar-links::-webkit-scrollbar {
    display: none;
  }
  .sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #161a2d;
    font-weight: 500;
    white-space: nowrap;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.2s ease;
  }
  .sidebar-links li a:hover {
    color: #fff;
    background: #f9a600;
    border-radius: 4px;
  }
  .user-account {
    margin-top: auto;
    padding: 12px 10px;
    margin-left: -10px;
  }
  .user-profile {
    display: flex;
    align-items: center;
    color: #161a2d;
  }
  .user-profile img {
    width: 42px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  .user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
  }
  .user-detail {
    margin-left: 23px;
    white-space: nowrap;
  }
  .sidebar:hover .user-account {
    background: #f9a600;
    border-radius: 4px;
  }

@media (max-width: 768px) {
  
}